.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-image: linear-gradient(
    to left bottom,
    #94b51e,
    #c59600,
    #e96c1b,
    #f83851,
    #ea0089,
    #df0099,
    #d000aa,
    #bc00bb,
    #e00095,
    #f3006c,
    #f80042,
    #f01111
  );
  background-color: white;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  padding: 1rem;
  color: white;
  text-align: center;
  box-shadow: 0px 0px 10px 5px yellow;
  border-radius: 5px;
}

.auth h1 {
  text-align: center;
  color: black;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  /* font: inherit; */
  color: white;
  background-color: #ff347f;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}
.actions p {
  color: blue;
}

.actions button:hover {
  background-color: #c9356c;
  border-color: yellow;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: blue;
  border: none;
  padding: 0.15rem 1.5rem;
  font-size: bold;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #8f71ff;
}
