input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: pointer;
  /* font: inherit; */
  color: white;
  background-color: #ff347f;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}
/* 
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #c9356c;
  border-color: yellow;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  /* background-image: linear-gradient(
    to left bottom,
    #94b51e,
    #c59600,
    #e96c1b,
    #f83851,
    #ea0089,
    #df0099,
    #d000aa,
    #bc00bb,
    #e00095,
    #f3006c,
    #f80042,
    #f01111
  ); */
  box-shadow: 0px 0px 10px 5px rgb(75, 75, 73);
  padding: 20px;
  padding: 50px;
  margin: 20px;
}
.form label {
  display: block;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
