.control {
  position: absolute;
  right: 20px;
}

.button {
  background-color: #34c410f6; /* Green */
  border: 1px solid #4caf50;
  border-radius: 2px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px 10px 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  /* background: #574f50; */
  /* background-image: linear-gradient(
    to right top,
    #3f15d6,
    #af00aa,
    #de0077,
    #ef0045,
    #eb1212
  ); */
  color: black;
  border: 1px solid yellow;
}

.button1:hover {
  /* background-image: radial-gradient(
    circle,
    #2d11ec,
    #a800c1,
    #d60094,
    #ea006d,
    #ed004e,
    #ed004e,
    #ed004e,
    #ed004e,
    #ea006d,
    #d60094,
    #a800c1,
    #2d11ec
  ); */
  color: white;
  border: 1px solid yellow;
}
.button2 {
  /* background-image: linear-gradient(
    to right top,
    #3f15d6,
    #af00aa,
    #de0077,
    #ef0045,
    #eb1212
  ); */
  color: black;
  border: 1px solid yellow;
}

.button2:hover {
  /* background-image: radial-gradient(
    circle,
    #2d11ec,
    #a800c1,
    #d60094,
    #ea006d,
    #ed004e,
    #ed004e,
    #ed004e,
    #ed004e,
    #ea006d,
    #d60094,
    #a800c1,
    #2d11ec
  ); */
  color: white;
  border: 1px solid yellow;
}
