.modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  text-align: center;
  justify-self: center;
}

.modalContent {
  justify-self: center;
  background-image: linear-gradient(
    to right top,
    #ec1141,
    #ed005d,
    #e5007b,
    #d4009b,
    #b700b9,
    #9649da,
    #686af2,
    #0082ff,
    #00acff,
    #00cbf9,
    #00e0a3,
    #11ec24
  );
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px 10px yellow;
  border-radius: 10px;
  width: 80%;
  color: #034f84;
}
.modalContent h1 u {
  color: #00204a;
  cursor: pointer;
}
.modalContent h1 u:hover {
  color: #393e46;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bolder;
}

.close:hover,
.close:focus {
  color: red;
  /* text-decoration: none; */
  cursor: pointer;
  font-weight: bolder;
  font-size: 30px;
}
