* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: aqua;
  /* background-image: radial-gradient(
    circle,
    #e98132,
    #fa3d43,
    #f7006f,
    #cb00ae,
    #200df0
  ); */
  /* overflow-y: hidden; */
}

.App {
  display: flex;
  justify-content: center;
  justify-self: center;
  /* width: 300px; */
  /* background-color: aqua; */
}
.active {
  color: #c3195d;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #666666;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #212f42;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
